node_modules
.pnp
.pnp.js
.git
.gitignore
.github
docs
.dockerignore
.docker
*.md
.env
.env.local
.env.example
turbo.json
.eslintrc.js
.prettierrc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.sqlite
*.db